.hero {
  
  --hero-max-width: 1380px;
  --hero-max-width-mobile: 1080px;
  --hero-bottom-offset: 100px;
  --hero-bottom-offset-mobile: 10px;

  background-image: url('../../assets/img/texturaroja.png');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 30px 20px 0;
  overflow: hidden;
}

.hero img {
  max-width: var(--hero-max-width);
  width: 100%;
  height: auto;
  display: block;
  transform: translateY(var(--hero-bottom-offset));
}

@media (max-width: 768px) {
  .hero {
    padding: 18px 10px 0;
  }

  .hero img {
    max-width: var(--hero-max-width-mobile);
    transform: translateY(var(--hero-bottom-offset-mobile));
  }
}
