.hero {
  background-image: url('../../assets/img/texturaroja.png');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 44px 20px;
}

.hero img {
  max-width: 900px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero {
    padding: 28px 14px;
  }

  .hero img {
    max-width: 740px;
  }
}
