.hero {
  background-image: url('../../assets/img/texturaroja.png');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 38px 20px 0;
}

.hero img {
  max-width: 1060px;
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .hero {
    padding: 22px 12px 0;
  }

  .hero img {
    max-width: 860px;
  }
}
